<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <% if (posts[i].owners?.[0]) { %> <a href="/profile/<%= posts[i].owners[0]._id %>"><%= posts[i].owners[0].displayName %><img style="float: right; border-radius: 100%; border: 1px solid lime; width: 2.5rem;" src="<%= posts[i].owners[0].avatarURL %>" /></a> <% } %>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].url%>">
            </a>
            <form
              class="col-1"
              action="/post/likePost/<%= posts[i].id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>
            <h3 class="col-6">Likes: <%= posts[i].likes %></h3>
            <div><%= dateFns.formatDistance(posts[i].createdAt, new Date(), { addSuffix: true })%></div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item <%= page === 0 ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= page - 1 %>" <%= page === 0 ? 'tabindex="-1"' : ''%>>Previous</a>
      </li>
      <% if (page - 1 >= 0) { %> <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>"><%= page - 1 %></a></li> <% } %>
      <li class="page-item"><a class="page-link" href="?page=<%= page %>"><%= page %></a></li>
      <li class="page-item"><a class="page-link" href="?page=<%= page + 1 %>"><%= page + 1 %></a></li>
      <li class="page-item"><a class="page-link" href="?page=<%= lastPage %>"><%= lastPage %></a></li>
      <li class="page-item">
        <a class="page-link" href="?page=<%= page + 1 %>">Next</a>
      </li>
    </ul>
  </nav>
<%- include('partials/footer') -%>